<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/panel.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
</head>

<body>
<div id="home">
    <div id="header">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link navbar-brand active" href="#">WebNote</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="addScreenShot">Add Screenshot</a>
            </li>
            <li class="nav-item disabled">
                <a class="nav-link" href="#" id="addRecording">Add Recording</a>
            </li>
        </ul>
    </div>

    <div id="content">

    </div>

    <div id="attachments">
        <div id="screenShotAttachment">
        </div>
    </div>

    <div id="recordings">
        <video id="screen-share" autoplay></video>
    </div>
</div>
<p>Click inside the box to start taking notes on this page.</p>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/panel.js"></script>
</body>

</html>
