<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/panel.css" />
</head>

<body>
    <div id="home">
        <div id="header">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link navbar-brand active" href="#">WebNote</a>
                </li>
            </ul>
        </div>
        <div class="body">
            <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                        aria-selected="true">Add Note/ScreenShot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Add Recordings</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <form>
                        <div class="form-group row webnote-row">
                            <label for="content" class="col-sm-2 col-form-label">Content:</label>
                            <div id="content" class="right-content"></div>
                        </div>
                        <div class="form-group row webnote-row">
                            <label for="attachments">Attachment:</label>
                            <div id="attachments" class="right-content">
                                <div id="screenShotAttachment">
                                </div>
                            </div>
                            <button type="button" class="btn btn-success" id="addScreenShot" style="margin-left: 5px;">Click to Add Attachment</button>
                        </div>
                    </form>

                    <div style="margin-top:25px;">
                        <button type="button" class="btn btn-primary btn-lg btn-block" id="saveData">Save</button>
                        <button type="button" class="btn btn-secondary btn-lg btn-block" id="clear">Cancel</button>
                    </div>

                    <p>Click inside the box to start taking notes on this page.</p>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="addRecording">Add Recording</button>
                    <div id="recordings">

                    </div>
                </div>
            </div>
        </div>



        <div id="footer">

        </div>
    </div>

    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../../RecordRTC/DiskStorage.js"></script>
    <script src="../../background/background.common.js"></script>
    <script src="../js/panel.js"></script>
</body>

</html>